.reverseResult {
  border: 1px solid #ee6b02;
  background: #fff3e0;
  border-radius: 5px;
  padding: 20px;
  word-break: break-all;

  &.reverseResultRed {
    border: 1px solid #f00;
    background: rgb(247, 225, 225);
  }
}
