html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --mdc-theme-accent: #ee6b02; /* secondary color */
  --mdc-theme-primary: #0000d6; /* primary color */
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

section {
  margin-bottom: 20px;
  word-break: break-all;

  @media only screen and (min-width: 768px) {
    max-width: 60vw;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.mdc-linear-progress {
  position: fixed;
  z-index: 99;

  .mdc-linear-progress__buffer {
    background-color: #ee6b02;
  }
}

.mdc-floating-label--float-above {
  color: #0000d6 !important;
}
